doctype html
html
  head
    title #{name}
    link(rel="stylesheet" href=`css/${alias}.css`)
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style #{styles}
  body(class="tc")
    header.tc-header
      div.tc-cloak
      section.tc-header__wrapper
        section.tc-header__content
          button.tc-header__menu-handler
            span
          h1 #{name}
        ul.tc-header__menu
          each group in groups
            li.tc-header__menu-item
              a(href=`#${group.replace(/\s+/g, '')}`) #{group}
    main.tc-content
      each group in groups
        section.tc-list(id=`${group.replace(/\s+/g, '')}`)
          h2 #{group}
          ul
            each glyph in glyphs
              if glyph.group == group
                li
                  button.tc-glyph(data-name=`${glyph.name}` data-class=`${alias}`)
                    i(class=`${alias} dp36`) #{glyph.name}
                    | !{glyph.name.replace(/([\-\_])/g, match => `<wbr/>${match}<wbr/>` )}
      .tc-content__upper-handler
        button
          include ./upper.svg
          
    footer.tc-detail
      div.tc-cloak
      div.tc-detail__wrapper
        header.tc-detail__header
          div.tc-detail__title
          div.tc-detail__close-handler 
            button &times;
        section.tc-detail__content
          section
            h3 #{alias}.css
            pre
              code.tc-detail__example
          section
            h3 #{alias}.old.css
            pre
              code.tc-detail__example-old
    script(src="index.js" async)
